<% provide(:title, "about") %>

<div class="page-header">
  <h1>about this website</h1>
</div>

<div class="well">
  <p>The following is a list of technologies used in this website. The source code will be available for you to download, so you may use it to learn from, gain inspiration or better yet: tell me how to make it better.</p>
</div>

<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>name</th>
        <th>version</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>Ruby on Rails</td><td>4.1.7</td>
      </tr>
      <tr>
        <td>HTML</td><td>5</td>
      </tr>
      <tr>
        <td>jQuery</td><td>1.11.1</td>
      </tr>
      <tr>
        <td>jQuery-ui</td><td>1.11.2</td>
      </tr>
      <tr>
        <td>jQuery-ujs</td><td>1.0.0</td>
      </tr>
      <tr>
        <td>Bootstrap</td><td>3.2.0</td>
      </tr>
      <tr>
        <td>modulejs</td><td>1.5.0</td>
      </tr>
      <tr>
        <td>Pygments</td><td>2.0</td>
      </tr>
      <tr>
        <td>Redcarpet</td><td>3.2.0</td>
      </tr>
    <tbody>
  </table>
</div>
