<% provide(:title, "contact") %>

<div class="page-header">
  <h1>contact</h1>
</div>

<div class="well">
  <p>

<address>
  <strong>jens jap</strong><br><br>
  <abbr title="The domain name is mispelled. Correct it to reach me.">email:</abbr>
  <a href="#" tab-index="0" style="padding:3px;" data-container="body" data-toggle="popover" data-trigger="focus" title="The domain name is mispelled" data-content="Click the link again to dismiss this popover">jensjap et infalibelkitty dot com</a>
</address>

  </p>
</div>
