<% provide(:title, "home") %>

<div class="page-header">
  <h1>welcome</h1>
</div>

<div class="well">
  <p>Welcome to this information blog. These pages are meant to serve as an online repository of general thoughts, solutions to technical problems and all around interesting and noteworthy things. Please feel free to contact me if you find yourself in need of clarification about any of the topics found on this website.</p>
  <p>If you do find anything useful here, and you feel particularly generous, please feel free to drop me a tip.</p>
</div>

<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>type</th>
        <th>address</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>Bitcoin</td><td>1D9jWKZFMf6u8HumHTJCK4xQ8RdPhMdsif</td>
      </tr>
      <tr>
        <td>Litecoin</td><td>LUPYcS2fkREU7dsD5ixZtr3BewPLg2ERnj</td>
      </tr>
    </tbody>
  </table>
</div>

