<%= simple_form_for :session,
                    :url     => login_path,
                    :wrapper => :inline_form do |f| %>

  <%= f.input :email, placeholder: "email" %>
  <%= f.input :password, placeholder: "password" %>
  <%= f.button :submit, "login" %>

<% end %>

