<%= simple_form_for @article, wrapper: :inline_form do |f| %>

  <%= f.input :author, placeholder: "author" %>
  <%= f.input :title, placeholder: "title" %>
  <%= f.input :content, placeholder: "your content ..", input_html: { rows: "15" } %>
  <%= f.collection_check_boxes :tag_ids, Tag.all, :id, :name, item_wrapper_tag: :span, item_wrapper_class: "label label-info" %>
  <%= f.input :publish, wrapper: :vertical_boolean %>
  <%= f.button :submit, class: "btn btn-sm btn-info" %>

<% end %>

