<% provide(:title, "articles list") %>

<h1>listing articles</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>author</th>
      <th>title</th>
      <th>tags</th>
      <th>created</th>
      <th>last updated</th>
      <th colspan="2">actions</th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.author %></td>
        <% if article.publish? %>
          <td><%= link_to article.title, article %></td>
        <% else %>
          <td><%= link_to article.title, "#", class: "disabled" %></td>
        <% end %>
        <td>
          <% article.tags.each do |tag| %>
            <%= link_to tag.name, tag %>
          <% end %>
        </td>
        <td><%= article.created_at %></td>
        <td><%= article.updated_at %></td>
        <td><%= link_to "edit", edit_article_path(article), class: "btn btn-info btn-xs" %></td>
        <td><%= link_to "destroy", article, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-xs btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "new article", new_article_path, class: "btn btn-sm btn-info" %>
