<% provide(:title, @article.title) %>

<% @article.tags.each do |tag| %>
  <span class="label label-info"><%= tag.name %></span>
<% end %>
<h2><%= @article.title %></h2>
<h6>by <%= @article.author %></h6>
<h6>Last updated: <%= @article.updated_at %></h6>

<p><%= markdown(@article.content) %></p>
