<%= simple_form_for @user, wrapper: :inline_form do |f| %>

  <%= f.input :name, placeholder: "name" %>
  <%= f.input :email, placeholder: "email" %>
  <%= f.input :password, placeholder: "password" %>
  <%= f.input :password_confirmation, placeholder: "password confirmation" %>
  <%= f.button :submit, class: "btn btn-sm btn-info" %>

<% end %>
