<% provide(:title, "users list") %>

<h1>listing users</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>name</th>
      <th>email</th>
      <th>created</th>
      <th>last updated</th>
      <th colspan="2">actions</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.name, user %></td>
        <td><%= user.email %></td>
        <td><%= user.created_at %></td>
        <td><%= user.updated_at %></td>
        <td><%= link_to "edit", edit_user_path(user), class: "btn btn-info btn-xs" %></td>
        <td><%= link_to "destroy", user, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-xs btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "new user", new_user_path, class: "btn btn-sm btn-info" %>
