<% provide(:title, "tags list") %>

<h1>listing tags</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>tag</th>
      <th>articles tagged</th>
      <th colspan="2">actions</th>
    </tr>
  </thead>

  <tbody>
    <% @tags.each do |tag| %>
      <tr>
        <td><%= link_to tag.name, tag %></td>
        <td>
          <ul class="list-unstyled">
            <% tag.articles.each do |article| %>
              <li><%= link_to article.title, article %></li>
            <% end %>
          </ul>
        </td>
        <td><%= link_to "edit", edit_tag_path(tag), class: "btn btn-xs btn-info" %></td>
        <td><%= link_to "destroy", tag, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-xs btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "new tag", new_tag_path, class: "btn btn-sm btn-info" %>
