/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets"
@import "bootstrap"

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea

@mixin box_sizing
  -moz-box-sizing:    border-box
  -webkit-box-sizing: border-box
  box-sizing:         border-box


/* Disabled links should have line-through */
a.disabled
  text-decoration: line-through

/*
 * Hovering over disabled links in dropdown-menu
 * should not remove line-through
 */
.dropdown-menu > li > a.disabled:hover
  text-decoration: line-through

/* Links with active state in dropdown-menu */
ul.dropdown-menu li.active a
  color: #262626
  background-color: #ededed
  background-image: none

  &:focus
    background-color: #d3d3d3

  &:hover
    background-color: #d3d3d3

  &:hover, &:focus
    color: #262626
    background-image: none

/* Hovering over links should have grey background */
a:hover
  color: #666
  background-color: #d6d6d6

/* miscellaneous */

.debug_dump
  clear: both
  float: left
  width: 100%
  margin-top: 45px
  @include box_sizing

/* sidebar */

aside
  section.user_info
    margin-top: 20px

  section
    padding: 10px 0
    margin-top: 20px
    &:first-child 
      border: 0
      padding-top: 0

    span
      display: block
      margin-bottom: 3px
      line-height: 1

    h1
      font-size: 1.4em
      text-align: left
      letter-spacing: -1px
      margin-bottom: 3px
      margin-top: 0px

.gravatar
  float: left
  margin-right: 10px


.gravatar_edit 
  margin-top: 15px

