// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.highlight pre {
  counter-reset: line-numbering;
  border: solid 1px #d9d9d9;
  border-radius: 5px;
  //border-radius: 0;
  background: #fff;
  background-color: #002B36;
  padding: 0 9.5px 0 0;
  //padding: 0;
  line-height: 1.45em;
  //line-height: 23px;
  //margin: 0 30px 30px 30px;
  margin-bottom: 30px;
  white-space: pre;
  overflow-x: auto;
  word-break: inherit;
  word-wrap: inherit;
}

pre a::before {
  content: counter(line-numbering);
  counter-increment: line-numbering;
  padding-right: 1em; /* space after numbers */
  width: 4em;
  //width: auto;
  text-align: right;
  opacity: 0.7;
  display: inline-block;
  color: #586E75;
  //color: #aaa;
  background: #073642;
  //background: #eee;
  margin-right: 16px;
  //padding: 2px 10px;
  font-size: 13px;
  border-right: 1px solid #001a21;
  //border-right: 1px solid #dedede;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

pre a:first-of-type::before {
  padding-top: 10px;
  -webkit-box-shadow: 0px 1px 1px inset rgba(255, 255, 255, 0.9);
  -moz-box-shadow: 0px 1px 1px inset rgba(255, 255, 255, 0.9);
  box-shadow: 0px 1px 1px inset rgba(255, 255, 255, 0.9);
}

pre a:last-of-type::before {
  padding-bottom: 10px;
}

pre a:only-of-type::before {
  padding: 10px;
}

span.label {
  margin: 2px;
}

span.label input {
  position: relative;
  top: 3.3px;
}

label.collection_check_boxes {
  padding-left: 5px;
}





