      <ul class="nav navbar-nav">
        <li><a href="<%= root_path %>">home</a></li>
        <li><a href="<%= about_path %>">about</a></li>
        <li><a href="<%= contact_path %>">contact</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">portfolio <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li class="dropdown-header">Code Repositories</li>
            <li><a href="https://github.com/jensjap" target="_blank">github</a></li>
            <li><a href="https://bitbucket.org/jensjap" target="_blank">bitbucket</a></li>
            <li class="divider"></li>
            <li class="dropdown-header">Current Projects</li>
            <li><a href="http://srdr.ahrq.gov" target="_blank">srdr</a></li>
            <li><a href="http://abstrackr.cebm.brown.edu" target="_blank">abstrackR</a></li>
            <li><a href="http://www.cebm.brown.edu" target="_blank">cebm brown</a></li>
          </ul>
        </li>
      </ul>
<!-- Save this for later.
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
-->

