      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
          <li><%= link_to "articles", articles_path %></li>
          <li><%= link_to "tags", tags_path %></li>
        <% end %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">articles <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li class="dropdown-header">index</li>
            <% Article.all.each do |article| %>
              <% if article.publish? %>
                <li><%= link_to article.title, article_path(article) %></li>
              <% else %>
                <li><%= link_to article.title, "#", class: "disabled" %></li>
              <% end %>
            <% end %>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">account <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <% if logged_in? %>
              <li>
                <%= link_to "log out", logout_path, method: "delete" %>
              </li>
            <% else %>
              <li>
                <%= link_to "log in", login_path %>
              </li>
            <% end %>
          </ul>
        </li>
      </ul>

