<!DOCTYPE html>
<html>
<head>

  <%= render "layouts/head_meta"%>

</head>
<body role="document">

  <%= render "layouts/navigation" %>
  
  <div class="container" role="main">
    <div class="row">
      <div class="col-md-12">
  
        <!-- Iterate through each flash message and display accordingly to type -->
        <% flash.each do |name, msg| %>
          <div class="alert alert-<%= bootify(name) %>" role="alert">
            <a class="close" data-dismiss="alert">x</a>
            <%= msg %>
          </div>
        <% end %>
  
        <!-- Page content -->
        <%= yield %>

        <hr>

        <%= debug(params) if Rails.env.development? %>
  
      </div><!-- /.col-md-12 -->
    </div><!-- /.row -->
  </div><!-- /.container role="main" -->

</body>
</html>

